<a href="https://colab.research.google.com/github/Samxiar/ML/blob/main/Multivariate_Regression1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
from sklearn import linear_model
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('houseprice.csv')
df

   area  bedrooms  age  prices
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
median_bedroom = int(df.bedrooms.mean())
df.bedrooms = df.bedrooms.fillna(median_bedroom)

In [4]:
df

   area  bedrooms  age  prices
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.prices)

LinearRegression()

In [6]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [7]:
reg.intercept_

221323.00186540396

In [8]:
import warnings
warnings.filterwarnings('ignore')
reg.predict([[3000,3,4]])

array([614750.09629109])