<a href="https://colab.research.google.com/github/Samxiar/ML/blob/main/Multivariate_Regression2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('hiring.csv')
df

   experience  test  interview  salaries
0         NaN   8.0          9     50000
1         NaN   8.0          6     45000
2         5.0   6.0          7     60000
3         2.0  10.0         10     65000
4         7.0   9.0          6     70000
5         3.0   7.0         10     62000
6        10.0   NaN          7     72000
7        11.0   7.0          8     80000

In [3]:
df.experience= df.experience.fillna(0)

In [4]:
test_median = df.test.median()
df.test=df.test.fillna(test_median)

In [5]:
df

   experience  test  interview  salaries
0         0.0   8.0          9     50000
1         0.0   8.0          6     45000
2         5.0   6.0          7     60000
3         2.0  10.0         10     65000
4         7.0   9.0          6     70000
5         3.0   7.0         10     62000
6        10.0   8.0          7     72000
7        11.0   7.0          8     80000

data is processed!

In [6]:
from sklearn import linear_model

In [7]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test','interview']],df.salaries)

LinearRegression()

In [8]:
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [9]:
reg.intercept_

17737.263464337688

In [10]:
reg.predict([[10,8,7]])

array([76069.1411936])